<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- Main JS -->
    <script defer src="/scripts/app.js" defer></script>
    <title></title>
  </head>
  <body>
    <div class="ui container">
      <h1>Welcome to snowDay!</h1>
      <nav><a href="signup">Sign Up</a>/<a href="login">Login</a></nav>
    </div>
  </body>
</html>
