<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- External JS -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
    ></script>
    <script defer src="/vendor/semantic.js"></script>
    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/semantic.css" />
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="icon" type="image/png" href="/images/favicon-white.png" />
    <title>SnowDay | Welcome</title>
  </head>
  <body>
    <section class="credentials">
      <section class="logoblock">
        <h1>SnowDay<i class="snowflake outline icon"></i></h1>
      </section>

      <div class="ui segment">
        <p>
          Welcome to SnowDay, your personalized, at-a-glance reference for
          California Ski resort recommendations based on weather and snow
          conditions.
        </p>
      </div>

      <div class="ui two item menu">
        <a class="ui item" href="signup">Sign Up</a>
        <a class="ui item" href="login">Log In</a>
      </div>
    </section>
  </body>
</html>
