<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Main CSS -->
  <link rel="stylesheet" href="/styles/style.css">
  <!-- Login JS -->
  <script src="/scripts/login.js" defer></script>
  <!-- Main JS -->
  <script src="/scripts/app.js" defer></script>
  <title>Login</title>
</head>
<body>
  <h1>Login Page</h1>
  <form id="loginForm">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" data-name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" placeholder="Password" data-name="password">
    </div>
    <button id="loginButton" type="submit">Submit</button>
  </form>
</body>
</html>