<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Main CSS -->
  <link rel="stylesheet" href="/styles/style.css">
  <!-- Main Gallery JS -->
  <script src="/scripts/maingallery.js"></script>
  <!-- Main JS -->
  <script src="/scripts/app.js" defer></script>
  <title>Resort Gallery</title>
</head>
<body>
  <h1>Main Gallery Page</h1>
</body>
</html>