<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Main CSS -->
  <link rel="stylesheet" href="/styles/style.css">
  <!-- Signup JS -->
  <script src="/scripts/signup.js" defer></script>
  <!-- Main JS -->
  <script src="/scripts/app.js" defer></script>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up Page</h1>
  <form id="signupForm">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="user-name" placeholder="Username" data-name="username">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Email" data-name="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="text" id="password" name="password" placeholder="Password" data-name="password">
    </div>
    <select name="proficiency-level" id="proficiency">
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advanced">Advanced</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</body>
</html>